{% extends "base.html" %}

{% block content %}
    <a href="{% url scheduled-shows-booking-overview %}">&larr; Zpět</a>
    <h2>{{ scheduledshow }}</h2>
    <table width="100%">
        <tr>
            <th width="3%">&nbsp;</th>
            <th width="47%">&nbsp;</th>
            <th width="3%">&nbsp;</th>
            <th width="47%">&nbsp;</th>
        </tr>
        {% for row in zipped_columns %}
            <tr>
                {% for column in row %}
                    <td>
                        {{ column.booking_number|stringformat:'d.' }}
                    </td>
                    <td>
                        {{ column.name }}
                    </td>
               {% endfor %}
            </tr>
        {% endfor %}
   </table>
   <p>
       <strong>Celkem {{ scheduledshow.total_number_or_reservations|default:0 }}</strong>
   </p>
   <p class="hide-print">
       <strong><a href="mailto:{{ all_emails|join:', ' }}?subject={{scheduledshow}}">Napsat email všem v tomto seznamu</a></strong>
   </p>
{% endblock %}
